[Unit]
Description=Movim daemon
After=nginx.service network.target local-fs.target

[Service]
User=movim
Type=simple
ExecStart=/usr/bin/php daemon.php https://YHURL YHPORT
WorkingDirectory=YHDIR
StandardOutput=syslog
SyslogIdentifier=movim
PIDFile=/run/movim.pid

[Install]
WantedBy=multi-user.target
