[Unit]
Description=Movim daemon
After=nginx.service network.target local-fs.target mysql.service

[Service]
User=movim
Type=simple
ExecStart=/usr/bin/php daemon.php start --url=https://YHURL --port=YHPORT
WorkingDirectory=YHDIR
StandardOutput=syslog
SyslogIdentifier=movim
PIDFile=/run/movim.pid

[Install]
WantedBy=multi-user.target
